@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    margin: 0 auto;
    padding: 0 auto; 
    font-family: 'Monserrat', sans-serif;
    color:black;
}

.conteneur {
    overflow: hidden; /* Clearfix pour gérer le float */
}


nav{
    display: flex;
    flex-wrap:wrap; /*le texte ou les éléments s'empilent*/
    background-color: black;
    justify-content: center;/*permet de centrer les éléments par rapport à l'axe principal*/
    align-items: center;/*permet de centrer les éléments par rapport à l'axe secondaire*/
    border-bottom: 5px solid grey;
    padding: 100 px;
    height: 150px;

}

nav .accueil {
    text-decoration: none;
    color:white;
}

nav .accueil a {
    text-decoration: none;
    color: white;
    font-family: 'Ms Madi', sans-serif;
    font-size: 35px;
}


nav .onglet {
    margin-left: 170px;
}

nav .onglet a {
    font-size: 21px;
    text-decoration: none;
    color: white;
    margin-right: 35px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;

}

section{
    display: block;/*permet d'emplier les éléments*/
    padding: 30px;

}
article{
    padding: 30px;
    background-color: grey;
    height: 600px;
}


/*Partie section CSS page 0*/

section h4{
    padding: 150px;
    text-align: center;
    font-size: 45px;
    font-family: 'Abel', sans-serif;
}


.fond{
    background: url('../images/fond.jpg');
    background-size: cover;
}

/*Fin partie section css page 0*/


/*Partie section css page 1 */

.colonnes{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;

}
.colonnes .presentation{
    text-align: center;
    margin-right: 10px;
    padding: 30px;
    max-width: 500px;
}

.colonnes .presentation p{
    font-size: 16px;
}

.colonnes .infos{
    text-align: left;
    margin-right: 30px;
    padding: 30px;
    max-width: 650px;
}

.ligne-verticale {
    border-left: 2px solid black;
    height: 650px; 
    margin: 10 60px; /* Marge pour espacer la ligne du texte*/
    margin-top: 25px;
}
/*article{
    padding: 30px;
    background-color: gray;
    height: 600px;
}*/

article p a {
    text-decoration: none;
    color: black ;
}
/*Fin de la partie section css page 1 */

/*partie section css pour la page 2 : */

.packet{ 
    justify-content: center;
    flex-direction:column;
}
.part{
    display: flex; /*permet d'aligner les élément sur un même ligne*/
    flex-wrap: wrap; /*si la résolution ne permet pas d'alugner les élément alors ils seront empilés */
    margin-bottom: 20px; /*espacement entre les pards*/
}


.left{
    padding: 10px;
    flex: 0 0 30%;
    background-color: grey;
}

.left a{
    color: yellow;
}

.right{
    flex: 0 0 60%;   
    
}

.right img{
    height: 220px;
    width: 350px;
    margin-left: 20px ;
}

/*Fin de la partie de la page 2*/



/*Partie footer*/

footer{
    border-top: 5px solid grey;
    background-color: black;
    color: white;
    padding: 60px 200px;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons a {
    margin: 0 110px; 
}

.footer-icons a i {
    font-size: 70px;
    color: white;

}
.footer-icons a img {
    height: 80px;
    width: 120px;
}


/*
all = tout les types (screen / handheld / print / projection / tv)
and = autre vérification ( and ou not)
(max-width:500px) = si largeur maximal est de 500px alors...
*/
@media all and (max-width:900px){

    nav{
        height: auto;
    }

    nav .accueil{
        text-align: center;
        margin-bottom: 40px;
    }
    nav .onglet {
        text-align: center;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    nav .onglet a {
        display: block;
        font-size: 16px;
    }

    section{
        padding: 15px;
    }

    /*Parie section page 0*/

    section h4{
        padding: 80px;
        font-size: 30px;
    }

    /*Fin partie section page 0*/


    /*Parie section page 1*/

    .colonnes .presentation img{
        height: 140px;
        width: 120px;
    }

    .ligne-verticale {
        border-left: 2px solid black;
        height: 0px; 
        margin: 0px; /* Marge pour espacer la ligne du texte*/
    }


    /*Fin de la partie page 1*/


    /*Partie page 2*/

    .part{
        display: block;
    }
    .right img{
        height: 200px;
        width: 300px;
        margin-left: 0px;

    }

    /*Fin poartie page 2*/


    /*Partie footer*/

    footer{
        padding: 30px 100px;
    }
    
    .footer-icons a {
        margin: 0 10px; 
    }

    .footer-icons a i {
        font-size: 40px;
    }

    .footer-icons a img{
        height: 40px;
        width: 80px;

    }
    .right img{
        margin-top: 5px; /*marge à mettre pour le format mobile*/
    }
    
}
